.react-datepicker {
  padding: 10px;
}
.react-datepicker__header {
  background-color: $white-color !important;
  border-bottom: none !important;
}
.react-datepicker__triangle {
  left: -27px;
}
.react-datepicker__navigation {
  &--previous,
  &--next {
    top: 18px !important;
  }
}
.react-datepicker__header__dropdown {
  margin: 8px 0;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  border: 1px solid $main-color;
  outline: none;
  border-radius: 4px;
}
.react-datepicker__triangle {
  left: -7px !important;
}
