.react-datepicker {
  padding: 10px;
}
.react-datepicker__header {
  background-color: $white-color !important;
  border-bottom: none !important;
}
.react-datepicker__triangle {
  left: -27px;
}
.react-datepicker__navigation {
  &--previous,
  &--next {
    top: 18px !important;
  }
}
.react-datepicker__header__dropdown {
  margin: 8px 0;
}
// .react-datepicker__day--selected,
// .react-datepicker__day--in-selecting-range,
// .react-datepicker__day--in-range,
// .react-datepicker__month-text--selected,
// .react-datepicker__month-text--in-selecting-range,
// .react-datepicker__month-text--in-range,
// .react-datepicker__quarter-text--selected,
// .react-datepicker__quarter-text--in-selecting-range,
// .react-datepicker__quarter-text--in-range,
// .react-datepicker__year-text--selected,
// .react-datepicker__year-text--in-selecting-range,
// .react-datepicker__year-text--in-range,
// .react-datepicker__day--keyboard-selected,
// .react-datepicker__month-text--keyboard-selected,
// .react-datepicker__quarter-text--keyboard-selected,
// .react-datepicker__year-text--keyboard-selected {
//   background-color: $main-color !important;
// }

.react-datepicker__month-select,
.react-datepicker__year-select {
  border: 1px solid $main-color;
  outline: none;
  border-radius: 4px;
}
.react-datepicker__triangle {
  left: -7px !important;
}
