.modal {
  .closeModal {
    border-color: $main-color;
    &:hover {
      background-color: $main-color;
      border-color: $main-color;
    }
  }
  .mapImg{
    width: 70%;
    margin-left: 15%;
  }
}
.btn-close {
  &:focus {
    box-shadow: none;
  }
}
