$main-color: #02673a;
$red-color: #c1272d;
$white-color: #ffffff;
$gray-color: #e6e6e6;
$deepgray-color: #666666;
$black-color: #000000;
$firstGreen-color: #73a777;
$secondGreen-color: #4b9d77;
$orange-color: #ffa544;
