.dateFilter {
  .datefilterTitle {
    color: $white-color;
    font-size: 20px;

  }
  .flex-center {
    @include display(center, center);
  }
  .flex-space-between {
    @include display(space-between, center);
    flex-flow: wrap;
  }
  .filterButton{
    height: 35px;
    border-radius: 7px;
    border: none;
  }
  .titleWrap{
    margin-bottom: 15px;
  }
  .dday-input {
    width: 240px;
    height: 32px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: $white-color;
    color: $black-color;
    &::placeholder {
      color: $gray-color;
    }
  }
  .react-datepicker-wrapper{

    margin-right: 10px;
  }
}

/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  .datefilterTitle{
    margin-bottom: 10px;
  }
  .react-datepicker-wrapper{
    width: 140px !important;
    .dday-input{
      width: 140px;
    }
  }
  .filterButton{
    width: 50px;
  }
}

@include media-breakpoint-up(lg) {
  .datefilterTitle{
    margin-bottom: 0;
  }
  .react-datepicker-wrapper{
    width: 240px !important;
    .dday-input{
      width: 240px;
    }
  }
  .filterButton{
    width: 70px;
  }
}